{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="{% static 'layout/styles/nosotros_style.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
</head>
<body>
    
    <section class="base">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'blog' %}">
                  <img src="{% static 'images/index/iconos/flecha_derecha.svg' %}"  width="50px" alt="">
                </a>
          </nav>

          
          
         <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        
        

         <div class="container">
                 <div class="row justify-content-center">
                   <div class="col-12 col-sm-8 col-lg-6">
                     <!-- Section Heading-->
                     <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                       <h3>Nuestro<span> Equipo</span></h3>
                       <div class="line"></div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <!-- Single Advisor-->
                   <div class="col-12 col-sm-6 col-lg-3">
                     <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                       <!-- Team Thumb-->
                       <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                         <!-- Social Info-->
                       </div>
                       <!-- Team Details-->
                       <div class="single_advisor_details_info">
                         <h6>Gerardo Ezequiel Muro</h6>
                         
                       </div>
                     </div>
                   </div>
                   <!-- Single Advisor-->
                   <div class="col-12 col-sm-6 col-lg-3">
                     <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                       <!-- Team Thumb-->
                       <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                         <!-- Social Info-->
                       </div>
                       <!-- Team Details-->
                       <div class="single_advisor_details_info">
                         <h6>Nicolas Araujo</h6>
                         
                       </div>
                     </div>
                   </div>
                   <!-- Single Advisor-->
                   <div class="col-12 col-sm-6 col-lg-3">
                     <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                       <!-- Team Thumb-->
                       <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                         <!-- Social Info-->
                       </div>
                       <!-- Team Details-->
                       <div class="single_advisor_details_info">
                         <h6>Kevin Cortes</h6>
                         
                       </div>
                     </div>
                   </div>
                   <!-- Single Advisor-->
                   <div class="col-12 col-sm-6 col-lg-3">
                     <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                       <!-- Team Thumb-->
                       <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                         <!-- Social Info-->
                       </div>
                       <!-- Team Details-->
                       <div class="single_advisor_details_info">
                         <h6>Emmanuel Altamirano</h6>
                        
                       </div>
                     </div>
                   </div>
                   <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                      <!-- Team Thumb-->
                      <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                        <!-- Social Info-->
                      </div>
                      <!-- Team Details-->
                      <div class="single_advisor_details_info">
                        <h6>Diego Leandro Villordo</h6>
                    
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                      <!-- Team Thumb-->
                      <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <!-- Social Info-->
                      </div>
                      <!-- Team Details-->
                      <div class="single_advisor_details_info">
                        <h6>Leandro Gabriel Espindola</h6>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                      <!-- Team Thumb-->
                      <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                        <!-- Social Info-->
                      </div>
                      <!-- Team Details-->
                      <div class="single_advisor_details_info">
                        <h6>Sergio Caliva</h6>
                        
                      </div>
                    </div>
                  </div>
                   
                 </div>
               </div>
    </section>   





























    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
    
</html>