{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
  
    <link rel="stylesheet" href="{% static 'css/signin_signup_styles.css' %}">
</head>
<body>
   <div class="container">
       <div class="overlay" id="overlay">
   
           <div class="sign-in" id="sign-in">
               <h1>¡BIENVENIDO!</h1>
               <p>¿Ya tienes una cuenta?</p>
               <p>Para ingresar al blog, por favor inicie sesión.</p>
               <button class="switch-button" id="slide-right-button"> Iniciar Sesión</button>
           </div>

         <div class="sign-up" id="sign-up">
            <h1>¡HOLA, AMIGO!</h1>
            <p>¿No estás registrado aún?</p>
            <p>Ingresa tus datos personales para registrarte</p>
            <button class="switch-button" id="slide-left-button"> Registrarme</button>
        </div>   
       </div>



       <div class="form">
           <div class="sign-in" id="sign-in-info">
            <h1>Iniciar Sesión</h1>
            <form id="sign-in-form">
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">
                <button class="control-button-in"> Enviar</button>
            </form>
          </div>

            <div class="sign-up" id="sign-up-info">
                <h1>Registrarme</h1>
                <form id="sign-up-form">
                    <input type="text" placeholder="Usuario">
                    <input type="password" placeholder="Contraseña">
                    <button class="control-button-up"> Enviar</button>
                </form>
           </div>
       
        </div>
   
   <script src="{% static 'js/signin_signup_script.js' %}"></script>   <!--MODIFICAR!!!-->
</body>
</html>